[Unit]
Description=backdoor-k8s Daemon
After=network.target

[Service]
Type=simple
User=jobscale
ExecStart=/usr/local/bin/backdoor-k8s
Restart=always
RestartSec=5s
RuntimeDirectory=daemon
StateDirectory=daemon
LogsDirectory=daemon
StandardOutput=append:/var/log/daemon/backdoor-k8s.log
StandardError=append:/var/log/daemon/backdoor-k8s_error.log

[Install]
WantedBy=multi-user.target
