[Unit]
Description=backdoor-os Daemon
After=network-online.target

[Service]
Type=simple
User=jobscale
ExecStart=/opt/_/daemon/backdoor-os/backdoor-os
Restart=always
RestartSec=5s
RuntimeDirectory=daemon
StateDirectory=daemon
LogsDirectory=daemon
StandardOutput=append:/var/log/daemon/backdoor-os.log
StandardError=append:/var/log/daemon/backdoor-os_error.log

[Install]
WantedBy=multi-user.target
