[Unit]
Description=backdoor-os Daemon
After=network.target

[Service]
Type=simple
ExecStartPre=mkdir -p /var/log/daemon
ExecStart=bash -c "sudo -u jobscale /usr/local/bin/backdoor-os"
Restart=always
StandardOutput=append:/var/log/daemon/backdoor-os.log
StandardError=append:/var/log/daemon/backdoor-os_error.log

[Install]
WantedBy=multi-user.target
