[Unit]
Description=backdoor-nodejs Daemon
After=network-online.target

[Service]
Type=simple
User=jobscale
ExecStart=/opt/_/daemon/backdoor-nodejs/backdoor-nodejs
Restart=always
RestartSec=5s
RuntimeDirectory=daemon
StateDirectory=daemon
LogsDirectory=daemon
StandardOutput=append:/var/log/daemon/backdoor-nodejs.log
StandardError=append:/var/log/daemon/backdoor-nodejs_error.log

[Install]
WantedBy=multi-user.target
