[Unit]
Description=backdoor-nodejs Daemon
After=network.target

[Service]
Type=simple
ExecStart=bash -c "sudo -u jobscale /usr/local/bin/backdoor-nodejs"
Restart=always
StandardOutput=append:/var/log/daemon/backdoor-nodejs.log
StandardError=append:/var/log/daemon/backdoor-nodejs_error.log

[Install]
WantedBy=multi-user.target
