apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-lo
  labels:
    app: code-lo
    component: deployment
spec:
  selector:
    matchLabels:
      app: code-lo
  template:
    metadata:
      labels:
        app: code-lo
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/reverse-proxy
        name: code-lo
        env:
        - name: BACKEND
          value: http://kde.x.jsx.jp:2997
---
apiVersion: v1
kind: Service
metadata:
  name: code-lo
  labels:
    app: code-lo
    component: service
spec:
  selector:
    app: code-lo
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: code-lo
  labels:
    app: code-lo
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "code.jsx.jp"
  - "code.x.jsx.jp"
  rules:
  - backendRefs:
    - name: code-lo
      port: 80
---
apiVersion: gateway.nginx.org/v1alpha1
kind: AuthenticationFilter
metadata:
  name: code-lo
  labels:
    app: code-lo
    component: auth
spec:
  type: Basic
  basic:
    secret:
      name: basic-auth
