apiVersion: apps/v1
kind: Deployment
metadata:
  name: jsxjp
  labels:
    app: jsxjp
    component: deployment
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: jsxjp
  template:
    metadata:
      labels:
        app: jsxjp
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/jsxjp
        name: jsxjp
---
apiVersion: v1
kind: Service
metadata:
  name: jsxjp
  labels:
    app: jsxjp
    component: service
spec:
  selector:
    app: jsxjp
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: jsxjp
  labels:
    app: jsxjp
    component: autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: jsxjp
  maxReplicas: 20
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jsxjp
  labels:
    app: jsxjp
    component: ingress
spec:
  ingressClassName: nginx
  tls:
  - secretName: jsxjp-tls
    hosts: [ "jsx.jp", "www.jsx.jp", "x.jsx.jp" ]
  rules:
  - host: jsx.jp
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: jsxjp
            port:
              number: 80
  - host: www.jsx.jp
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: jsxjp
            port:
              number: 80
  - host: x.jsx.jp
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: jsxjp
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: redirect-mail
  labels:
    app: jsxjp
    component: ingress
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: https://jsxjp.awsapps.com/mail
    nginx.ingress.kubernetes.io/permanent-redirect-code: "307"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - mail.jsx.jp
    secretName: jsxjp-tls
  rules:
  - host: mail.jsx.jp
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jsxjp
            port:
              number: 80
