apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo
  labels:
    app: echo
    component: deployment
spec:
  selector:
    matchLabels:
      app: echo
  template:
    metadata:
      labels:
        app: echo
        component: workload
    spec:
      containers:
      - image: inanimate/echo-server
        name: echo
---
apiVersion: v1
kind: Service
metadata:
  name: echo
  labels:
    app: echo
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: echo
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: echo
  labels:
    app: echo
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: echo
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: echo
  labels:
    app: echo
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "echo.jsx.jp"
  - "echo.x.jsx.jp"
  rules:
  - backendRefs:
    - name: echo
      port: 80
