apiVersion: apps/v1
kind: Deployment
metadata:
  name: shop
  labels:
    app: shop
    component: deployment
spec:
  selector:
    matchLabels:
      app: shop
  template:
    metadata:
      labels:
        app: shop
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/ec-cube
        name: shop
---
apiVersion: v1
kind: Service
metadata:
  name: shop
  labels:
    app: shop
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: shop
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: shop
  labels:
    app: shop
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: shop
  maxReplicas: 5
  minReplicas: 3
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: shop
  labels:
    app: shop
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "shop.jsx.jp"
  - "shop.x.jsx.jp"
  rules:
  - backendRefs:
    - name: shop
      port: 80
