apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-blog
  labels:
    app: mongo-blog
    component: deployment
spec:
  selector:
    matchLabels:
      app: mongo-blog
  template:
    metadata:
      labels:
        app: mongo-blog
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/mongo-blog
        name: mongo-blog
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-blog
  labels:
    app: mongo-blog
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: mongo-blog
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: mongo-blog
  labels:
    app: mongo-blog
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mongo-blog
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: mongo-blog
  labels:
    app: mongo-blog
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "mongo-blog.jsx.jp"
  - "mongo-blog.x.jsx.jp"
  rules:
  - backendRefs:
    - name: mongo-blog
      port: 80
