apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: k8s
  labels:
    app: k8s
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "k8s.jsx.jp"
  - "k8s.x.jsx.jp"
  rules:
  - backendRefs:
    - name: kubernetes-dashboard
      port: 443
---
apiVersion: gateway.nginx.org/v1alpha1
kind: NginxProxyPolicy
metadata:
  name: k8s
  labels:
    app: k8s
    component: proxy-policy
spec:
  targetRefs:
  - group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: k8s
  upstream:
    tls:
      enable: true
