apiVersion: apps/v1
kind: Deployment
metadata:
  name: sshwifty
  labels:
    app: sshwifty
    component: deployment
spec:
  selector:
    matchLabels:
      app: sshwifty
  template:
    metadata:
      labels:
        app: sshwifty
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/sshwifty
        name: sshwifty
---
apiVersion: v1
kind: Service
metadata:
  name: sshwifty
  labels:
    app: sshwifty
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8182
  selector:
    app: sshwifty
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: sshwifty
  labels:
    app: sshwifty
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: sshwifty
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: sshwifty
  labels:
    app: sshwifty
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "sshwifty.jsx.jp"
  - "sshwifty.x.jsx.jp"
  rules:
  - backendRefs:
    - name: sshwifty
      port: 80
