apiVersion: apps/v1
kind: Deployment
metadata:
  name: dokuwiki
  labels:
    app: dokuwiki
    component: deployment
spec:
  selector:
    matchLabels:
      app: dokuwiki
  template:
    metadata:
      labels:
        app: dokuwiki
        component: workload
    spec:
      containers:
      - image: jobscale/dokuwiki
        name: dokuwiki
---
apiVersion: v1
kind: Service
metadata:
  name: dokuwiki
  labels:
    app: dokuwiki
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: dokuwiki
  type: ClusterIP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: dokuwiki
  labels:
    app: dokuwiki
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "dokuwiki.jsx.jp"
  - "dokuwiki.x.jsx.jp"
  rules:
  - backendRefs:
    - name: dokuwiki
      port: 80
