apiVersion: apps/v1
kind: Deployment
metadata:
  name: redmine
  labels:
    app: redmine
    component: deployment
spec:
  selector:
    matchLabels:
      app: redmine
  template:
    metadata:
      labels:
        app: redmine
        component: workload
    spec:
      containers:
      - name: redmine
        image: redmine:bullseye
        env:
        - name: REDMINE_DB_MYSQL
          value: mysql.mysql.svc.cluster.local
        - name: REDMINE_DB_USERNAME
          value: redmine-user
        - name: REDMINE_DB_PASSWORD
          value: redmine-admin
---
apiVersion: v1
kind: Service
metadata:
  name: redmine
  labels:
    app: redmine
    component: service
spec:
  selector:
    app: redmine
  type: ClusterIP
  ports:
  - name: tcp
    port: 80
    protocol: TCP
    targetPort: 3000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: redmine
  labels:
    app: redmine
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "redmine.jsx.jp"
  - "redmine.x.jsx.jp"
  rules:
  - backendRefs:
    - name: redmine
      port: 80
