apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  labels:
    app: fastapi
    component: deployment
spec:
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/python-fastapi
        name: fastapi
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi
  labels:
    app: fastapi
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: fastapi
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: fastapi
  labels:
    app: fastapi
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fastapi
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: fastapi
  labels:
    app: fastapi
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "fastapi.jsx.jp"
  - "fastapi.x.jsx.jp"
  rules:
  - backendRefs:
    - name: fastapi
      port: 80
