apiVersion: apps/v1
kind: Deployment
metadata:
  name: ramen-timer
  labels:
    app: ramen-timer
    component: deployment
spec:
  selector:
    matchLabels:
      app: ramen-timer
  template:
    metadata:
      labels:
        app: ramen-timer
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/ramen-timer
        name: ramen-timer
---
apiVersion: v1
kind: Service
metadata:
  name: ramen-timer
  labels:
    app: ramen-timer
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: ramen-timer
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: ramen-timer
  labels:
    app: ramen-timer
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ramen-timer
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ramen-timer
  labels:
    app: ramen-timer
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "ramen-timer.jsx.jp"
  - "ramen-timer.x.jsx.jp"
  rules:
  - backendRefs:
    - name: ramen-timer
      port: 80
