kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  apiServerAddress: 0.0.0.0
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30443
    listenAddress: 0.0.0.0
    hostPort: 443
  - containerPort: 30080
    listenAddress: 0.0.0.0
    hostPort: 80
  - containerPort: 30883
    listenAddress: 0.0.0.0
    hostPort: 8883
  - containerPort: 31883
    listenAddress: 0.0.0.0
    hostPort: 1883
  - containerPort: 30470
    listenAddress: 0.0.0.0
    hostPort: 12470
  - containerPort: 30312
    listenAddress: 0.0.0.0
    hostPort: 3129
  - containerPort: 30053
    listenAddress: 0.0.0.0
    hostPort: 53
  - containerPort: 30053
    listenAddress: 0.0.0.0
    hostPort: 53
    protocol: UDP
  extraMounts:
  # - containerPath: /var/lib/containerd
  #   hostPath: /home/k8s/system/var/lib/containerd
  - containerPath: /var/log
    hostPath: /home/k8s/system/var/log
  - containerPath: /mnt/extra
    hostPath: /home/k8s/mnt/extra
  - containerPath: /mnt/var
    hostPath: /home/k8s/mnt/var
