[Unit]
Description=code-server Daemon
After=network.target

[Service]
Type=simple
ExecStartPre=mkdir -p /var/log/code-server
ExecStartPre=sleep 300
ExecStart=bash -c "sudo -u jobscale code-server"
Restart=always
StandardOutput=append:/var/log/code-server/code-server.log
StandardError=append:/var/log/code-server/code-server_error.log

[Install]
WantedBy=multi-user.target
