[Unit]
Description=code-server Daemon
After=network.target

[Service]
Type=simple
User=jobscale
ExecStart=bash -c "sleep 240 && code-server"
Restart=always
RestartSec=5s
RuntimeDirectory=code-server
StateDirectory=code-server
LogsDirectory=code-server

[Install]
WantedBy=multi-user.target
