apiVersion: apps/v1
kind: Deployment
metadata:
  name: www-lo
  labels:
    app: www-lo
    component: deployment
spec:
  selector:
    matchLabels:
      app: www-lo
  template:
    metadata:
      labels:
        app: www-lo
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/reverse-proxy
        name: www-lo
        env:
        - name: BACKEND
          value: http://www.x.jsx.jp:3000
---
apiVersion: v1
kind: Service
metadata:
  name: www-lo
  labels:
    app: www-lo
    component: service
spec:
  selector:
    app: www-lo
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: www-lo
  labels:
    app: www-lo
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "www-lo.jsx.jp"
  - "www-lo.x.jsx.jp"
  rules:
  - backendRefs:
    - name: www-lo
      port: 80
