[Unit]
Description=Example Daemon
After=network.target

[Service]
Type=simple
ExecStart=bash -c "sudo -u $(ls /home | grep job) /usr/local/bin/example"
Restart=always
RestartSec=5s
RuntimeDirectory=example
StateDirectory=example
LogsDirectory=example
StandardOutput=append:/var/log/example/example.log
StandardError=append:/var/log/example/example_error.log

[Install]
WantedBy=multi-user.target
