[Unit]
Description=Example Daemon
After=network.target

[Service]
Type=simple
User=jobscale
ExecStart=/opt/_/daemon/example/example
Restart=always
RestartSec=5s
RuntimeDirectory=example
StateDirectory=example
LogsDirectory=example
StandardOutput=append:/var/log/example/example.log
StandardError=append:/var/log/example/example_error.log

[Install]
WantedBy=multi-user.target
