apiVersion: apps/v1
kind: Deployment
metadata:
  name: exp
  labels:
    app: exp
    component: deployment
spec:
  selector:
    matchLabels:
      app: exp
  template:
    metadata:
      labels:
        app: exp
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/node-express-ejs-authorization
        name: exp
---
apiVersion: v1
kind: Service
metadata:
  name: exp
  labels:
    app: exp
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: exp
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: exp
  labels:
    app: exp
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: exp
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: exp
  labels:
    app: exp
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "exp.jsx.jp"
  - "exp.x.jsx.jp"
  rules:
  - backendRefs:
    - name: exp
      port: 80
