apiVersion: apps/v1
kind: Deployment
metadata:
  name: anywaychat
  labels:
    app: anywaychat
    component: deployment
spec:
  selector:
    matchLabels:
      app: anywaychat
  template:
    metadata:
      labels:
        app: anywaychat
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/anywaychat-web
        name: anywaychat
---
apiVersion: v1
kind: Service
metadata:
  name: anywaychat
  labels:
    app: anywaychat
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: anywaychat
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: anywaychat
  labels:
    app: anywaychat
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: anywaychat
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: anywaychat
  labels:
    app: anywaychat
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "anywaychat.jsx.jp"
  - "anywaychat.x.jsx.jp"
  rules:
  - backendRefs:
    - name: anywaychat
      port: 80
