apiVersion: apps/v1
kind: Deployment
metadata:
  name: tanpo
  labels:
    app: tanpo
    component: deployment
spec:
  selector:
    matchLabels:
      app: tanpo
  template:
    metadata:
      labels:
        app: tanpo
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/tanpo
        name: tanpo
---
apiVersion: v1
kind: Service
metadata:
  name: tanpo
  labels:
    app: tanpo
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: tanpo
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: tanpo
  labels:
    app: tanpo
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tanpo
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: tanpo
  labels:
    app: tanpo
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "tanpo.jsx.jp"
  - "tanpo.x.jsx.jp"
  rules:
  - backendRefs:
    - name: tanpo
      port: 80
