apiVersion: v1
kind: PersistentVolume
metadata:
  name: code-server-pv
  labels:
    app: code-server-pv
    component: workload
spec:
  storageClassName: ssd.sda
  capacity:
    storage: 20Gi
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mnt/extra/home/store"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: code-server-pv-claim
  labels:
    app: code-server-pv-claim
    component: workload
spec:
  storageClassName: ssd.sda
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: code-server
  name: code-server
spec:
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
        component: workload
    spec:
      volumes:
      - name: code-server-persistent-storage
        persistentVolumeClaim:
          claimName: code-server-pv-claim
      containers:
      - image: ghcr.io/jobscale/code-server
        name: code-server
        volumeMounts:
        - name: code-server-persistent-storage
          mountPath: /home/store
---
apiVersion: v1
kind: Service
metadata:
  name: code-server
  labels:
    app: code-server
    component: service
spec:
  selector:
    app: code-server
  type: ClusterIP
  ports:
  - name: tcp
    port: 80
    protocol: TCP
    targetPort: 3000
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: code-server
  labels:
    app: code-server
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: code-server
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: code-server
  labels:
    app: code-server
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "code-server.jsx.jp"
  - "code-server.x.jsx.jp"
  rules:
  - backendRefs:
    - name: code-server
      port: 80
---
apiVersion: gateway.nginx.org/v1alpha1
kind: NginxProxyPolicy
metadata:
  name: code-server
  labels:
    app: code-server
    component: proxy-policy
spec:
  targetRefs:
  - group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: code-server
  basicAuth:
    secret:
      name: basic-auth
