apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
  labels:
    app: django
    component: deployment
spec:
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/django
        name: django
---
apiVersion: v1
kind: Service
metadata:
  name: django
  labels:
    app: django
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: django
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: django
  labels:
    app: django
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: django
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: django
  labels:
    app: django
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "django.jsx.jp"
  - "django.x.jsx.jp"
  rules:
  - backendRefs:
    - name: django
      port: 80
