apiVersion: apps/v1
kind: Deployment
metadata:
  name: zipcode-jp
  labels:
    app: zipcode-jp
    component: deployment
spec:
  selector:
    matchLabels:
      app: zipcode-jp
  template:
    metadata:
      labels:
        app: zipcode-jp
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/zipcode-jp
        name: zipcode-jp
---
apiVersion: v1
kind: Service
metadata:
  name: zipcode-jp
  labels:
    app: zipcode-jp
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: zipcode-jp
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: zipcode-jp
  labels:
    app: zipcode-jp
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zipcode-jp
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: zipcode-jp
  labels:
    app: zipcode-jp
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "zipcode-jp.jsx.jp"
  - "zipcode-jp.x.jsx.jp"
  rules:
  - backendRefs:
    - name: zipcode-jp
      port: 80
