apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
  labels:
    app: todo
    component: deployment
spec:
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/todo-app
        name: todo
---
apiVersion: v1
kind: Service
metadata:
  name: todo
  labels:
    app: todo
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: todo
  type: ClusterIP
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: todo
  labels:
    app: todo
    component: workload
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: todo
  maxReplicas: 3
  minReplicas: 1
  targetCPUUtilizationPercentage: 50
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: todo
  labels:
    app: todo
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "todo.jsx.jp"
  - "todo.x.jsx.jp"
  rules:
  - backendRefs:
    - name: todo
      port: 80
