apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt
  labels:
    app: mqtt
    component: deployment
spec:
  selector:
    matchLabels:
      app: mqtt
  template:
    metadata:
      labels:
        app: mqtt
        component: workload
    spec:
      containers:
      - name: mqtt
        image: ghcr.io/jobscale/mqtt-c-pub-sub
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: mqtt
  labels:
    app: mqtt
    component: service
spec:
  selector:
    app: mqtt
  type: LoadBalancer
  ports:
  - name: web
    port: 80
    targetPort: 3000
    protocol: TCP
  - name: mqtts
    nodePort: 30883
    port: 8883
    targetPort: 8883
    protocol: TCP
  - name: mqtt
    nodePort: 31883
    port: 1883
    targetPort: 1883
    protocol: TCP
  - name: ws
    nodePort: 30470
    port: 12470
    targetPort: 12470
    protocol: TCP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: mqtt
  labels:
    app: mqtt
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "mqtt.jsx.jp"
  - "mqtt.x.jsx.jp"
  rules:
  - backendRefs:
    - name: mqtt
      port: 80
