apiVersion: apps/v1
kind: Deployment
metadata:
  name: lo-stack
  labels:
    app: lo-stack
    component: deployment
spec:
  selector:
    matchLabels:
      app: lo-stack
  template:
    metadata:
      labels:
        app: lo-stack
        component: workload
    spec:
      containers:
      - image: ghcr.io/jobscale/reverse-proxy
        name: lo-stack
        env:
        - name: BACKEND
          value: http://lo-stack.x.jsx.jp:4566
        - name: HEADERS
          value: '{"authorization":"AWS4-HMAC-SHA256 Credential="}'
---
apiVersion: v1
kind: Service
metadata:
  name: lo-stack
  labels:
    app: lo-stack
    component: service
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: lo-stack
  type: ClusterIP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: lo-stack
  labels:
    app: lo-stack
    component: route
spec:
  parentRefs:
  - name: web-gateway
    namespace: gateway-system
  hostnames:
  - "lo-stack.jsx.jp"
  - "lo-stack.x.jsx.jp"
  rules:
  - backendRefs:
    - name: lo-stack
      port: 80
