<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.backdoor-mac</string>

    <key>ProgramArguments</key>
    <array>
      <string>sudo</string>
      <string>-u</string>
      <string>jobscale</string>
      <string>/usr/local/bin/backdoor-mac</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/var/log/backdoor-mac/error.log</string>

    <key>StandardOutPath</key>
    <string>/var/log/backdoor-mac/output.log</string>

    <key>PIDFile</key>
    <string>/var/run/backdoor-mac.pid</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
  </dict>
</plist>
